
.action-buttons {
    margin-top: 20px;
}


.button-group {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.btn-primary, .btn-secondary, .btn-danger {
    flex: 1;
    height: 45px; 
    width: 150px; 
    padding: 0; 
    border-radius: 8px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.btn-primary {
    background-color: #00ff00;
    color: #000;
}

.btn-secondary {
    background-color: #000;
    color: #00ff00;
}

.btn-danger {
    background-color: red;
    color: white;
}

.btn-primary:hover, .btn-secondary:hover, .btn-danger:hover {
    opacity: 0.8;
}
