
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}


.login-box {
    background-color: #2a2a2a; 
    border-radius: 12px; 
    padding: 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    max-width: 400px;
    width: 100%;
    text-align: center;
}


.login-title {
    font-size: 24px;
    color: #00ff00; 
    margin-bottom: 20px; 
}


.login-label {
    display: block;
    color: #00ff00; 
    margin-bottom: 8px; 
    text-align: left;
}


.login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; 
    background-color: #333; 
    border: 1px solid #333; 
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    outline: none;
}

.login-input::placeholder {
    color: #333;
}


.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.remember-me input[type="checkbox"] {
    appearance: none;
    background-color: #333;
    border: none;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.remember-me input[type="checkbox"]:checked {
    background-color: #00ff00; 
}

.remember-me label {
    color: #00ff00;
    font-size: 14px;
}


.btn-primary {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #00ff00; 
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px; 
    text-decoration: none; 
}

.btn-primary:hover {
    background-color: #00e600;
}

.btn-secondary {
    background-color: #000; 
    color: #00ff00; 
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px; 
    text-decoration: none; 
}

.btn-secondary:hover {
    color: #00e600;
}



.error-text {
    color: red;
    margin-bottom: 20px;
}


.forgot-password {
    margin-top: 20px;
}

.forgot-password a {
    color: #00ff00; 
    text-decoration: none;
}

.forgot-password a:hover {
    color: #00e600;
}
